<h2 class="card-title">
  <%= exhibit.title %>
</h2>

<p class="subtitle">
  <%= exhibit.subtitle %>
</p>

<% if exhibit.description %>
  <p class="description">
    <%= truncated_description = exhibit.description.truncate(168, omission: '', separator: ' ') %>
    <% if exhibit.description.length > 168 %>
      <%= content_tag(:span,"&hellip;".html_safe, class: "d-lg-none") %>
      <span class="d-none d-lg-block">
        <%= exhibit.description.slice(truncated_description.length, exhibit.description.length) %>
      </span>
    <% end %>
  </p>
<% end %>

<div class="visit-exhibit center-btn">
  <%= link_to t(:'dri.spotlight.view_theme'), spotlight.search_exhibit_catalog_path('atlantic-philanthropies', { f: { readonly_subtheme_ssim: [exhibit.title], readonly_theme_ssim: [exhibit.tags.first.to_s.capitalize] }}), class: "btn btn-primary", role: "button" %>
</div>
